.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--bg-main);
  color: var(--text-primary);
  font-family: var(--font-family);
}

.sidebar {
  width: 240px;
  flex-shrink: 0; /* Чтобы сайдбар не сплющивался */
}
.mainContainer {
  display: flex;
  flex: 1;
  gap: 1rem;
  padding: 1rem;
}

.main {
  flex: 1;
  background-color: var(--bg-card);
  border-radius: var(--border-radius);
  padding: 1.5rem;
  box-shadow: var(--shadow-md);
}

.footer {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
  color: var(--text-secondary);
  background-color: var(--bg-main);
  border-top: 1px solid var(--border-color);
}
