.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  display: flex;
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.content {
  flex: 1;
  padding: 2rem;
}

/*Адаптивность*/
@media (max-width: 768px) {
  .mainContainer {
    flex-direction: column;
    padding: 0;
  }

  .content {
    padding: 1rem;
  }
}
