/*Базовый стиль*/
.base {
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s;
}

/*Варианты*/
.primary {
  background-color: var(--primary-color);
  color: var(--text-light);
}

.primary:hover:not(:disabled) {
  background-color: var(--primary-hover);
}

.secondary {
  background-color: var(--secondary-color);
  color: var(--text-primary);
}

.secondary:hover:not(:disabled) {
  background-color: var(--secondary-hover);
}

.danger {
  background-color: var(--danger-color);
  color: var(--text-light);
}

.danger:hover:not(:disabled) {
  background-color: var(--danger-hover);
}

/*Размеры*/

.small {
  padding: 8px 16px;
  font-size: 14px;
}

.medium {
  padding: 10px 18px;
  font-size: 16px;
}

.large {
  padding: 12px 24px;
  font-size: 16px;
}

/*Состояния*/
.base:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
