.card {
  background: var(--bg-card);
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: var(--shadow-md);
}

.poster {
  width: 100%;
  aspect-ratio: 2/3;
  object-fit: cover;
  background: var(--bg-main);
  border-bottom: 1px solid var(--border-color);
}

.title {
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 600;
  margin: var(--spacing-sm) var(--spacing-sm) 0;
  line-height: 1.4;
  /*Обрезаем длинные названия*/
  display: -webkit-box;
  display: box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
}

.year {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin: var(--spacing-lg) var(--spacing-sm) var(--spacing-sm);
  font-weight: 400;
}

/* Для мобилок */
@media (max-width: 480px) {
  .title {
    font-size: 0.9rem;
  }

  .year {
    font-size: 0.8rem;
  }
}
