.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-main);
}

.container {
  display: flex;
  flex: 1;
}

.content {
  flex: 1;
  padding: var(--spacing-lg);
  background: var(--bg-main);
}
